<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Homework 10</title>
  <link rel="stylesheet" href="../styles/common.css">
</head>

<body>
  <select class="breed-select hide"> </select>
  <p class="loader hide"></p>
  <!-- <p class="error">Oops! Something went wrong! Try reloading the page!</p> -->
  <p class="date-loader hide">Loading data, please wait...</p>
  <div class="cat-info">
  </div>

  <script type="module" src="../scripts/task-1.js"></script>

</body>

</html>