* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  width: 1440px;
  max-width: 1440px;
  padding: 0 10px;
}

.container {
  margin: 0 auto;
}

.hide {
  display: none;
}

img {
  max-width: 100%;
}
