.gallery {
  display: flex;
  gap: 0 30px;
  list-style: none;
}

.gallery li img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 25px;
  border: 7px solid transparent;
  transition: border 700ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.gallery li img:hover {
  border: none;
}
